@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


html {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
}
 
 body {
  margin: 0;
  background-color: #1a1a1a;
 }